<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sentiment Analysis</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="../static/app.js" async></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>
    <div class="container">
      <h1>Sentiment Analysis of Customer Feedback</h1><hr>

      <h2 class="sub_title">Introduction</h2>
      <p>It is my first time dive deeper into NLP with Python with TextBlob, which is built on the 
          shoulder of NLTK and Pattern. It is very easy to learn and offers a lot of features like sentiment analysis, 
          pos-tagging, tranlation etc. 
      </p><br>
      <p>TextBlob calculates the sentiment of text and returns two properties, polarity, and subjecivity.</p><br>
      <p>Polarity is float which lies in the range of [-1,1] where 1 means positive statement and -1 means a negative statement. 
          Subjective sentences generally refer to personal opinion, emotion or judgment whereas objective refers to factual information. 
          Subjectivity is also a float which lies in the range of [0,1].</p><br>

        <h2 class="sub_title">Sentiment Analysis</h2>
        <p>Let's check it out by typing some comments you/others made!</p>
        <div class="row">
            <div class="col-md-12">
                <label id="small_text">Enter some text</label><br>
                <form method="POST">
                    <textarea name="review" id="comments"></textarea><br><br>
                    <button id="button" type="submit" class="btn btn-default">Submit</button>
                </form><br>

            </div>
        </div>
        
        <div class="output_value" class="col-md-12">
              <p id="text">{{summary["text"] if summary["text"]!=None }}</p>
              <h4>Polarity:<span>{{summary["polarity"]}}</span></h4><br>
              <h4>Subjecivity:<span>{{summary["subjecivity"]}}</span></h4>
        </div>
    </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>